#box1{
    width:100px;
    height:100px;
    background:green;
}
#box1:hover
{
    width:600px;
}

#box2{
    width:100px;
    height:100px;
    background:red;
}

#box3{
    width:100px;
    height:100px;
    background:lightblue;
}

#box4{
    width:100px;
    height:100px;
    background:lightgreen;
}

#myPic{
    width:200px;
    height:200px;
    background:pink;
}